html,
body {
    height: 100vh;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

:root {
    --black: #000000;
    --black-text: #031230;
    --white: #FFFFFF;
    --dark-blue: #0D2D6B;
    --dack-blue-background: #031230;
    --dack-blue-button: #061E4F;
    --blue: #103888;
    --pink: #D9BAFF;
    --gray: #9C9C9C;
    --light-gray: #F3F3F3;
    --bright-blue: #1346AD;
}

button {
    font-size: 35px;
    font-weight: 600;
    line-height: 42.36px;
    border-radius: 17px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button_white {
    padding: 5px 67.5px;
    background: var(--white);
    color: var(--dark-blue);
}

.button_darkblue {
    padding: 11px 0;
    color: var(--white);
    background: var(--dack-blue-button);
    max-width: 348px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.app {
    height: 100vh;
}

/* Секция с видео */

.video-section {
    background: var(--black);
    position: relative;
    height: 100vh;
}

@keyframes fadeInVideo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.video-section__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fadeInVideo 3s ease-in-out 3s forwards;
    opacity: 0;
}

.video-section__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: appearAndSlide 3s ease-in-out forwards;
}

.video-section__sidebar {
    position: absolute;
    top: 50px;
    right: 5%;
    z-index: 10;
    opacity: 0;
    color: var(--white);
    animation: fadeInVideo 3s ease-in-out 3s forwards;
    display: flex;
    gap: 50px;
    padding-left: 50px;
}

.video-section__sidebar ul {
    display: flex;
    gap: 50px;
    font-size: 22px;
    line-height: 26.63px;
    font-weight: 600;
    align-items: center;
}

.video-section__sidebar ul li a {
    color: var(--white);
}

.video-section__social {
    display: flex;
    gap: 50px;
}

.video-section__burger {
    border: none;
    outline: none;
    background: transparent;
    display: none;
    height: auto;
    align-items: flex-start;
}

/* Анимация при нажатии */
.video-section__burger__active img {
    transform: rotate(-90deg);
    transition: transform 0.7s ease;
}

/* секция с логотипом */

@keyframes appearAndSlide {
    0% {
        opacity: 0;
        left: 50%;
    }
    50% {
        opacity: 1;
        left: 50%;
    }
    100% {
        opacity: 1;
        left: 40%;
    }
}


.label-group {
    display: flex;
    color: var(--white);
    gap: 10px;
    align-items: center;
}

.label-group__info {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.label-group__title {
    font-weight: 700;
    font-size: 120px;
    line-height: 145.23px;
}

.label-group__text {
    font-weight: 500;
    font-size: 25px;
    line-height: 30.26px;
}


/* section life state */

.life-state__image {
    width: 100%;
}

.life-state__block {
    background: var(--white);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.life-state__block-animation {
    animation: fadeInUp 1s forwards;
}

.life-state__image {
    display: block;
}

.life-state__article {
    font-weight: 700;
    font-size: 60px;
    line-height: 72.61px;
    color: var(--dark-blue);
    display: flex;
    gap: 5px;
    align-items: center;
}

/* section with residents */

.residents {
    background: var(--black-text);
    padding: 200px 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    color: var(--white);
    position: relative;
}

.residents__title {
    font-weight: 600;
    font-size: 70px;
    line-height: 84.72px;
    margin-left: auto;
    margin-right: 52%;
}

.residents__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 30.26px;
    max-width: 560px;
    margin-left: 52%;
    margin-right: auto;
}

.residents__title,
.residents__text {
    position: relative;
    z-index: 1;
}

.residents__slider-wrapper {
    width: 100%;
    padding: 100px 0;
    overflow: hidden;
}

.residents__slider {
    width: 100%;
    white-space: nowrap;
    /*clip-path: inset(-100px 0 -100px 0);*/
    position: relative;
    transition: all ease 1s;
}

.residents__photo {
    display: inline-block;
    transition: all ease 1s;
}

.residents__photo_active {
    position: relative;
}

.residents__photo_active .residents__info,
.residents__photo_active .residents__slogan {
    opacity: 1;
}

.residents__info,
.residents__slogan {
    position: absolute;
    z-index: 1;
    opacity: 0;
    /*transition: all ease 1s;*/
}

.residents__slogan {
    width: 300px;
    top: 30%;
    left: 50%;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    white-space: wrap;
}

.residents__info {
    white-space: wrap;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 55%;
    transition: all ease 0.5s;
}

.residents__name {
    font-weight: 600;
    font-size: 70px;
    line-height: 70px;
}

.residents__label {
    font-weight: 600;
    font-size: 12px;
    line-height: 14.52px;
    color: var(--gray);
}

.residents__input {
    font-weight: 600;
    font-size: 25px;
    line-height: 30.26px;
}


.residents__photo_active .residents__image {
    transform: scale(1.3) translateY(-30px);

}

.residents__image {
    width: 100%;
    transition: all ease 1s;
}

/*.residents__image-wrapper {*/
/*    background: var(--white);*/
/*    width: 100%;*/
/*}*/

/*.residents__band {*/
/*    width: 100%;*/
/*}*/

/* education */

/*@keyframes slide-in {*/
/*    0% {*/
/*        opacity: 0;*/
/*        transform: translateX(-100%);*/
/*    }*/
/*    100% {*/
/*        opacity: 1;*/
/*        transform: translateX(0);*/
/*    }*/
/*}*/

.education {
    background: var(--white);
    color: var(--dack-blue-button);
    position: relative;
}

.education__inner {
    padding: 200px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 100px;
}

.education__image {
    width: 100%;
    display: block;
}

.level-up {
    position: absolute;
    font-weight: 600;
    font-size: 200px;
    line-height: 242.05px;
    color: var(--light-gray);
    max-width: 862px;
}

.level-up_big {
    font-size: 400px;
    line-height: 484.09px;
    max-width: 1801px;
}

.level-up_60 {
    top: 60%;
}

.level-up_dark {
    color: var(--dack-blue-button);
}

.level_up_long {
    max-width: 1093px;
}



@keyframes slideInLeft {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes slideInRight {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

.level-up-animation_left {
    animation: slideInLeft 2s forwards;
}

.level-up-animation_right {
    animation: slideInRight 3s forwards;
}



.education__article {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.fadeInUp {
    animation: fadeInUp 1s forwards;
}

.education__article:nth-of-type(2),
.education__article:nth-of-type(2) .education__text {
    align-self: flex-end;
}



.education__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 72.61px;
}

.education__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 20.57px;
    max-width: 618px;
}

/* environment section */

.environment {
    background: var(--black-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.environment__inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 1;
    position: relative;
    padding: 200px 25px;
    width: 70%;
}

.environment__number {
    position: absolute;
    font-size: 400px;
    line-height: 484.09px;
    font-weight: 700;
    color: var(--dack-blue-button);
    z-index: -1;
    top: -150px;
    right: 0;
}

.environment__article {
    max-width: 476px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    z-index: 1;
}

.environment__article:nth-of-type(2),
.environment__article:nth-of-type(4) {
    align-self: flex-end;
}

.environment__title {
    color: var(--white);
    font-weight: 700;
    font-size: 70px;
    line-height: 84.72px;
}

.environment__text {
    color: var(--pink);
    font-weight: 400;
    font-size: 15px;
    line-height: 18.15px;
    max-width: 411px;
}

.environment__image-wrapper {
    background: linear-gradient(to bottom, var(--white) 50%, var(--black-text) 50%);
    width: 100%;
}

.environment__image-wrapper-second {
    background: linear-gradient(to bottom, var(--black-text) 50%, var(--white) 50%);
    width: 100%;
}

.environment__image {
    display: block;
    width: 100%;
}

/* president section */

.president {
    padding-top: 400px;
}

.president__slider {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.president__photo {
    position: relative;
    width: 570px;
}

.president__photo_muted{
    position: absolute;
    bottom: -20px;
    left: -180px;
    z-index: -1;
    filter: opacity(0.3);
    height: 536.2px;
}

.president__main-photo {
    position: relative;
    width: 785px;
}

.president__main-photo img {
    width: 785px;
    height: 693px;
    position: absolute;
    z-index: -1;
    bottom: -50px;
    left: -100px;
}

.president__info {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-bottom: 100px;
}

.president__name {
    color: var(--dack-blue-background);
    font-size: 90px;
    font-weight: 600;
    line-height: 108.92px;
    max-width: 502px;
}

.president__description,
.president__company-info {
    color: var(--bright-blue);
}

.president__array {
    position: absolute;
    width: 100px;
    height: 200px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.president__description {
    font-size: 35px;
    font-weight: 600;
    line-height: 42.36px;
}

.president__company-info {
    font-size: 80px;
    font-weight: 700;
    line-height: 96.82px;
    display: flex;
}

.president__main {
    display: flex;
}

.president_bottom {
    background: var(--black-text);
    color: var(--white);
    display: flex;
    justify-content: center;
    padding: 50px;

}

.president__summary {
    display: flex;
    gap: 150px;
}

.president__slogans {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.president__title {
    line-height: 60.51px;
    font-size: 50px;
    font-weight: 600;
}

.president__text {
    line-height: 24.2px;
    font-size: 20px;
    font-weight: 600;
    max-width: 589px;
}

.president__social  {
    display: flex;
    gap: 15px;
}

.president__image {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
}

.president__info-second {
    text-align: right;
    position: relative;

}

.president__name-second {
    color: var(--dack-blue-background);
    font-size: 70px;
    font-weight: 600;
    line-height: 84.72px;
    max-width: 500px;
}

.president__description-second,
.president__company-info-second {
    color: var(--bright-blue);
}

.president__company-info p {
    white-space: nowrap;
}

.president__description-second {
    font-size: 25px;
    font-weight: 600;
    line-height: 30.26px;
}

.president__company-info-second {
    font-size: 57px;
    font-weight: 700;
    line-height: 68.98px;
}

.president__image-wrapper {
    background: linear-gradient(to bottom, transparent 40%, var(--black-text) 40%);
}
/* wants-to-club */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.wants-to-club__inner {
    padding: 250px 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wants-to-club__article {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    z-index: 1;
}

.wants-to-club__title {
    font-weight: 600;
    font-size: 70px;
    line-height: 84.72px;
    color: var(--black-text);
}

.wants-to-club__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 30.26px;
    padding-bottom: 25px;
    max-width: 400px;
}

.wants-to-club__image {
    display: block;
    width: 100%;
}

/* footer */

footer {
    padding: 50px 300px 50px 100px;
    background: var(--dack-blue-background);
    display: flex;
    justify-content: space-between;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer__logo {
    display: flex;
    gap: 25px;
    color: var(--white);
    font-size: 50px;
    line-height: 60.51px;
    font-weight: 700;
}

.footer__text {
    display: flex;
    gap: 200px;
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;
}

.footer__text ul li a,
.footer__text a {
    color: var(--blue);
}

.footer__policy {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.footer__links {
    padding-top: 25px;
    display: flex;
    gap: 100px;
    font-size: 15px;
    line-height: 18.15px;
    font-weight: 500;
    color: var(--white);
}

.footer__social {
    display: none;
    gap: 25px;
}

.footer__compliance-two {
    color: var(--blue);
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;
    padding-top: 25px;
    display: none;
}


/* Медиа запросы */

@media (max-width: 1900px) {
    .level-up,
    .environment__number {
        max-width: 80%;
        font-size: 20vmin;
        line-height: 25vmin;
    }
}

@media (max-width: 1550px) {
    footer {
        padding: 50px;
    }
    .footer__text {
        gap: 25px;
        flex-wrap: wrap;
    }

    .footer__links {
        display: block;
        white-space: nowrap;
        padding-top: unset;
    }

    .footer__links li {
        padding: 5px 0;
    }

    .residents__title {
        font-size: 5vmin;
        line-height: 10vmin;
        white-space: nowrap;
    }

    .residents__text {
        font-size: 2vmin;
        line-height: 2.5vmin;
    }

    .residents__image {
        width: 35vmin;
        height: 33vmin;
    }

    .residents__name {
        font-size: 6vmin;
        line-height: 7vmin;
    }

    .residents__slogan {
        font-size: 2vmin;
        line-height: 2.4vmin;
    }

    .residents__label {
        font-size: 1.5vmin;
        line-height: 1.7vmin;
    }

    .residents__input {
        font-size: 2vmin;
        line-height: 2.4vmin;
    }

    .president__info-second,
    .president__photo {
        display: none;
    }

    .president__company-info img {
        width: 10vmin;
        height: 8vmin;
    }

    .president__slider {
        justify-content: flex-end;
    }

    /*.president__main-photo {*/
    /*    bottom: 55vmin;*/
    /*}*/

    .president__info,
    .president__main-photo {
        flex: 1;
    }


    .president__main-photo img {
        width: 66vmin;
        height: 58vmin;
        bottom: -5vmin;
    }

    .president__name {
        font-size: 8vmin;
        line-height: 8.5vmin;
    }

    .president__description {
        font-size: 3vmin;
        line-height: 4vmin;
    }

    .president__company-info {
        font-size: 7vmin;
        line-height: 8vmin;
    }

    .president__main {
        width: 100%;
    }

    .president__info {
        padding-left: 50px;
    }

}

@media (max-width: 1100px) {
    .video-section__sidebar ul,
    .button_white {
        display: none;
    }
    .video-section__sidebar_visible ul {
        display: flex;
        flex-wrap: wrap;
    }
    .video-section__burger {
        display: flex;
    }
    .label-group__title {
      font-size: 11vmin;
      line-height: 12vmin;
    }

    .label-group__text {
        font-size: 2vmin;
      line-height: 3vmin;
    }

    .label-group__logo {
        width: 20vmin;
    }

    /* Возвращаем элемент к исходному состоянию после завершения анимации */
    .video-section__overlay {
        animation: return-to-original 1s ease-in-out;
    }

    @keyframes return-to-original {
        0% {
            left: 40%; /* Позиция после первой анимации */
        }
        100% {
            left: 50%; /* Возврат в исходное положение */
        }
    }

    .president__title {
        font-size: 4vmin;
        line-height: 5vmin;
    }

    .president__text {
        font-size: 2vmin;
        line-height: 2.2vmin;
    }



}

@media (max-width: 900px) {

    .president {
        padding-top: 200px;
    }

    .president__social {
        display: none;
    }

    .education {
        padding: 100px 50px;
    }

    .life-state__article {
        font-size: 6vmin;
        line-height: 7vmin;
    }

    .life-state__article img {
        width: 8vmin;
        height: 6vmin;
    }
}

@media (max-width: 700px) {

    .president {
        padding-top: 100px;
    }

    .education {
        gap: 50px;
    }

    .education__article {
        gap: 25px;
    }

    .education__title,
    .environment__title {
        font-size: 30px;
        line-height: 35px;
    }

    .education__text,
    .environment__text {
        max-width: 350px;
    }

    .environment__inner {
        width: 90%;
        padding: 100px 25px;
    }

    .wants-to-club__inner {
        padding: 100px 25px;
    }

    .wants-to-club__article {
        gap: 2vmin;
    }

    .wants-to-club__title {
        font-size: 11vmin;
        line-height: 12vmin;

    }

    .wants-to-club__text {
        font-size: 4vmin;
        line-height: 4.5vmin;
    }

    .footer__text .footer__compliance {
        display: none;
    }

    .footer__links {
        font-size: 3vmin;
        line-height: 3.4vmin;
    }

    .footer__compliance-two {
        display: block;
        font-size: 3vmin;
        line-height: 3.4vmin;
    }

    .footer__social {
        display: flex;
    }

    .footer__text {
        font-size: 3vmin;
        line-height: 3.4vmin;
    }

    .footer__logo {
        font-size: 6vmin;
        line-height: 7vmin;
        white-space: nowrap;
        gap: 5px;
    }

    .footer__logo img {
        width: 10vmin;
        height: 7vmin;
    }

    .residents {
        padding: 50px 25px 0 25px;
        gap: 25px;
    }

    .residents__slogan {
        width: 100px;
    }

}

@media (max-width: 360px) {
    .residents__slogan {
        width: 80px;
    }
}




